<div>
  <a class="btn btn-primary" id="action-btn">
    <i class="icon-plus-sign icon-white"></i>
    Add
  </a>
  <h1>Your sites</h1>
</div>

<table class="table" id="sites-table">
<% @sites.each do |site| %>
  <tr>
    <td class="span7 description">
			<%= icon_for_site(site)%> <%= message_for_site(site) %> 
			<small><%= site.failed? ? site.message : "" %></small>
		</td>
    <td class="span2">
      <span class="actions">
      <%= link_to 'Edit', edit_site_path(site) %> 
      <%= link_to 'Destroy', site, confirm: 'Are you sure?', method: :delete %>
      </span>
    </td>
  </tr>
<% end %>
</table>